__pycache__/
*.pyc
.venv/
cache/*
logs/*
tests/artifacts/*
web/vendor/
node_modules/
public_site/
publish_bundle/

.source/
_site/
*.sqlite
*.sqlite-*
*.dat
flight/
Navigraph/
network.json
network.json.gz

!public_data/network.json.gz
public_navigraph_site/
